{% extends "base_AdminLTE.html"%}

{% block title %}图书{% endblock %}

{% block css_src %}
<link href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/datatables/1.10.11/css/jquery.dataTables_themeroller.css" rel="stylesheet">
<link href="/static/dist/css/modalconfig.css" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="row">
         <div class="col-lg-12">
           <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">图书列表</h3>
                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                 <div class="box-body" >
			 {% if session['usertype'] == 'shopkeeper' %}
			 <a href="/addbook/"><button type="button" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>添加图书</button></a>
			 {% endif %}

                     <table class="table table-striped table-bordered table-hover table-image" >
                         <thead>
                         <tr>
                             <th>ID</th>
                             <th>书名</th>
			     <th>价格</th>
			     <th>库存</th>
			     {% if session['usertype'] == 'customer' %}
			     <th>收藏</th>
			     <th>购买</th>
			     {% else %}
			     <th>编辑</th>
			     {% endif %}
                         </tr>
                         </thead>
			 <tbody>
			{% for book in books %}
			{% if  book['bookerid'] == -1 %}
			 <tr>
				<td>{{book['id']}}</td>
				<td><a href="/message/{{book['description']}}/">{{book['bookname']}}</a></td>
				<td>{{book['price']}}->{{book['trueprice']}}</td>
				<td>{{book['number']}}</td>
			     {% if session['usertype'] == 'customer' %}
				{% if book['id'] in collections %}
				<td><p>已收藏</p></td>
				{% else %}
				<td><a href="/collect/{{book['id']}}/"><button type="button" class="btn btn-xs btn-success">收藏</button></a></td>
				{% endif %}
				{% if book['number'] > 0 %}
				<td><a href="/buy/{{book['id']}}/"><button type="button" class="btn btn-xs btn-success">购买</button></a></td>
				{% else %}
				<td><p>库存不足</p></td>
				{% endif %}
			     {% else %}
			     <td><a href="/addstockform/{{book['id']}}/"><button class="btn btn-primary btn-sm">进货</button></a>
				     <form  action="/changedis/{{book['id']}}/" method="POST">
					     <input type="number" name="discount" value={{book['discount']}} />
					     <button class="btn btn-primary btn-sm" type="submit">修改折扣</button>
				     </form>
			     </td>
			     {% endif %}
              		 </tr>
			 {% endif %}
		        {% endfor %}
			</tbody>
		  </table>
		  <br/>
		  <h2>预订列表</h2>
		  <br/>
			 {% if session['usertype'] == 'customer' %}
			 <a href="/bookbook/"><button type="button" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>预订图书</button></a>
			 {% endif %}
                     <table class="table table-striped table-bordered table-hover table-image" >
                         <thead>
                         <tr>
                             <th>ID</th>
                             <th>书名</th>
			     <th>价格</th>
			     {% if session['usertype'] == 'customer' %}
			     <th>状态</th>
			     {% else %}
			     <th>接受</th>
			     {% endif %}
                         </tr>
                         </thead>
			 <tbody>
			{% for book in books %}
			{% if (not book['bookerid'] == -1) and ((session['usertype'] == 'customer' and session['userid'] == book['bookerid']) or session['usertype'] == 'shopkeeper') %}
			 <tr>
				<td>{{book['id']}}</td>
				<td><a href="/message/{{book['description']}}/">{{book['bookname']}}</a></td>
				<td>{{book['price']}}</td>
			     {% if session['usertype'] == 'customer' %}
			     {% if book['number'] == 1 %}
				<td><p>已接受</p></td>
			     {% elif book['number'] == -1 %}
			     	<td><p>已拒绝</p></td>
			     {% else %}
			     	<td><p>待接受</p></td>
			     {% endif %}
			     {% else %}
			     {% if book['number'] == 1 %}
				<td><p>已接受</p></td>
			     {% elif book['number'] == -1 %}
			     	<td><p>已拒绝</p></td>
			     {% else %}
			     <td><a href="/acceptbook/{{book['id']}}/"><button class="btn btn-primary btn-sm">接受</button></a><td>
			     {% endif %}
			     {% endif %}
              		 </tr>
			 {% endif %}
		        {% endfor %}
			</tbody>
		     </table>
		</div>
	</div>
	</div>
</div>

{% endblock %}

{% block script_src %}

<script src="http://cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.js"></script>
<script src="http://cdn.bootcss.com/datatables/1.10.11/js/dataTables.bootstrap.js"></script>
<script src="http://cdn.bootcss.com/datatables-tabletools/2.1.5/js/TableTools.min.js"></script>

<script>
         $(document).ready(function() {
            $(".table-image").DataTable();
            $(".table-image").attr("style","");
         });

 </script>

{% endblock %}
