{% extends "base_AdminLTE.html"%}

{% block title %}图书{% endblock %}

{% block css_src %}
<link href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/datatables/1.10.11/css/jquery.dataTables_themeroller.css" rel="stylesheet">
<link href="/static/dist/css/modalconfig.css" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="row">
         <div class="col-lg-12">
           <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">订单列表</h3>
                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                 <div class="box-body" >

                     <table class="table table-striped table-bordered table-hover table-image" >
                         <thead>
                         <tr>
                             <th>ID</th>
                             <th>书名/书ID</th>
			     <th>价格</th>
			     <th>订单状态</th>
			     <th>地址</th>
			     {% if session['usertype'] == 'shopkeeper' %}
			     <th>下单用户/ID</th>
			     {% else %}
			     <th>付款</th>
			     {% endif %}
                         </tr>
                         </thead>
			 <tbody>
			{% for orderform in orderforms %}
			 <tr>
				<td>{{orderform['id']}}</td>
				<td>{{orderform['bookname']}}/{{orderform['bookid']}}</td>
				<td>{{orderform['price']}}</td>
				<td>{{orderform['status']}}</td>
				<td>{{orderform['address']}}</td>
			     	{% if session['usertype'] == 'shopkeeper' %}
				<td>{{orderform['username']}}/{{orderform['userid']}}</td>
				{% else %}
				{% if orderform['status'] == 'paid' %}
				<td><p>已付款</p></td>
				{% else %}
				<td><a href="/pay/{{orderform['id']}}/"><button type="button" class="btn btn-xs btn-success">付款</button></a></td>
				{% endif %}
				{% endif %}
              		 </tr>
		        {% endfor %}
			</tbody>
		  </table>
                     
		  <table class="table table-striped table-bordered table-hover table-image" >
                         <thead>
                         <tr>
                             <th>ID</th>
                             <th>捆绑包名/捆绑包ID</th>
			     <th>价格</th>
			     <th>订单状态</th>
			     <th>地址</th>
			     {% if session['usertype'] == 'shopkeeper' %}
			     <th>下单用户/ID</th>
			     {% else %}
			     <th>付款</th>
			     {% endif %}
                         </tr>
                         </thead>
			 <tbody>
			{% for packageorderform in packageorderforms %}
			 <tr>
				<td>{{packageorderform['id']}}</td>
				<td>{{packageorderform['packagename']}}/{{packageorderform['packageid']}}</td>
				<td>{{packageorderform['price']}}</td>
				<td>{{packageorderform['status']}}</td>
				<td>{{packageorderform['address']}}</td>
			     	{% if session['usertype'] == 'shopkeeper' %}
				<td>{{packageorderform['username']}}/{{packageorderform['userid']}}</td>
				{% else %}
				{% if packageorderform['status'] == 'paid' %}
				<td><p>已付款</p></td>
				{% else %}
				<td><a href="/payforpackage/{{packageorderform['id']}}/"><button type="button" class="btn btn-xs btn-success">付款</button></a></td>
				{% endif %}
				{% endif %}
              		 </tr>
		        {% endfor %}
			</tbody>
		</div>
	</div>
	</div>
</div>

{% endblock %}

{% block script_src %}

<script src="http://cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.js"></script>
<script src="http://cdn.bootcss.com/datatables/1.10.11/js/dataTables.bootstrap.js"></script>
<script src="http://cdn.bootcss.com/datatables-tabletools/2.1.5/js/TableTools.min.js"></script>

<script>
         $(document).ready(function() {
            $(".table-image").DataTable();
            $(".table-image").attr("style","");
         });

 </script>

{% endblock %}
