.btn-outline, .btn-outline-default, .badge-outline, .badge-outline-default, .label-outline, .label-outline-default {
	border: 1px solid #AAB2BD;
	background-color: transparent;
	color: #434A54;
}
.btn-outline-success, .badge-outline-success, .label-outline-success {
	border: 1px solid #1C84C6;
	background-color: transparent;
	color: #1C84C6;
}
.btn-outline-warning, .badge-outline-warning, .label-outline-warning {
	border: 1px solid #F8AC59;
	background-color: transparent;
	color: #F8AC59;
}

.btn-outline-default:hover,
.btn-outline:hover {
	border: 1px solid #AAB2BD;
	background-color: #AAB2BD;
	color: #434A54;
}

.btn-outline-success:hover {
	border: 1px solid #1C84C6;
	background-color: #1C84C6;
	color: #FFFFFF;
}

.btn-outline-warning:hover {
	border: 1px solid #F8AC59;
	background-color: #F8AC59;
	color: #FFFFFF;
}
.docklet-red-block{
	background-color: #EB4235;
	color: #FFFFFF;
}

.docklet-green-block{
	background-color: #7DB600;
	color: #FFFFFF;
}

.docklet-yellow-block{
	background-color: #FABC05;
	color: #FFFFFF;
}

.docklet-blue-block{
	background-color: #4185F6;
	color: #FFFFFF;
}

